.card {
  width: 90%;
  max-width: 500px;
  background-color: white;
  margin: 0 auto 42upx auto;
  background: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-item-view {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  text-align: left;
  top: 10%;
  margin-left: 5%;
  align-self: center;
}

.card-item-edit {
  width: 40%;
  align-self: center;
}

.card-item-edit .button {
  width: 100px;
  margin-right: 10%;
  margin-left: auto;
}

.card-button {
  width: 70px;
}

.first-title {
  font-size: 23px;
  font-weight: bold;
  color: #000000
}

.first-title-smaller {
  font-size: 18px;
  font-weight: bold;
  color: #000000
}

.second-title {
  font-size: 15px;
}
